@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #fffdf7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* brand colors */
  --color-cozy-cream: #fffdf7;
  --color-warm-peach: #ffdab9;
  --color-soft-rose: #f4c2c2;
  --color-earthy-brown: #8d6e63;
  --color-leaf-green: #a5d6a7;
  --color-sunny-yellow: #fff59d;
  --warm-charcoal: #2f2e33;
  --dusty-rose: #e7c6d8;

  /* brand fonts */
  --font-sans: var(--font-quicksand);
  --font-serif: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #fffdf7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom selection color */
::selection {
  background: var(--dusty-rose);
  color: var(--warm-charcoal);
}
